[
  {
    "id": "johndoe@email.com",
    "notion_token": "notion_token",
    "notion_page_id": "notion_page_id",
    "pluggy_client_id": "pluggy_client_id",
    "pluggy_client_secret": "pluggy_client_secret",
    "pluggy_account_ids": [
      "pluggy_account_id_1",
      "pluggy_account_id_2"
    ]
  },
  {
    "id": "janedoe@email.com",
    "notion_token": "notion_token",
    "notion_page_id": "notion_page_id",
    "pluggy_client_id": "pluggy_client_id",
    "pluggy_client_secret": "pluggy_client_secret",
    "pluggy_account_ids": [
      "pluggy_account_id_1",
      "pluggy_account_id_2",
      "pluggy_account_id_3"
    ]
  }
]
