[
  {
    "id": "johndoe@email.com",
    "language": "en",
    "notion_token": "notion_token",
    "notion_page_id": "notion_page_id",
    "pluggy_client_id": "pluggy_client_id",
    "pluggy_client_secret": "pluggy_client_secret",
    "pluggy_account_ids": [
      "pluggy_account_id_1",
      "pluggy_account_id_2"
    ],
    "ignore_same_person_transfers": true,
    "categories": {
      "Food & dining": "red",
      "Shopping": "orange",
      "Subscription": "blue",
      "Transportation": "gray"
    },
    "category_mappings": {
      "Uber": "Transportation",
      "Amazon": "Shopping",
      "Openai *Chatgpt Subscription": "Subscription"
    },
    "budget_groups": {
      "Fixed Costs": "red",
      "Lifestyle": "pink",
      "Goals": "yellow",
      "Investments": "green",
      "Education": "blue"
    },
    "budget_group_mappings": {
      "Subscription": "Lifestyle",
      "Shopping": "Lifestyle"
    },
    "budget_group_fallback": "Other"
  },
  {
    "id": "janedoe@email.com",
    "language": "pt-BR",
    "notion_token": "notion_token",
    "notion_page_id": "notion_page_id",
    "pluggy_client_id": "pluggy_client_id",
    "pluggy_client_secret": "pluggy_client_secret",
    "pluggy_account_ids": [
      "pluggy_account_id_1",
      "pluggy_account_id_2",
      "pluggy_account_id_3"
    ],
    "ignore_same_person_transfers": true,
    "categories": {
      "Alimentação": "red",
      "Assinaturas": "blue",
      "Compras": "orange",
      "Transporte": "gray",
      "Outros": "default"
    },
    "category_mappings": {
      "Uber": "Transporte",
      "Amazon": "Compras"
    },
    "fallback": "Outros",
    "budget_groups": {
      "Custos fixos": "red",
      "Estilo de vida": "pink",
      "Metas": "yellow",
      "Investimentos": "green",
      "Educação": "blue"
    },
    "budget_group_mappings": {
      "Assinaturas": "Estilo de vida",
      "Compras": "Estilo de vida"
    },
    "budget_group_fallback": "Outros"
  }
]
