[
  {
    "id": "johndoe@email.com",
    "language": "en",
    "notion_token": "notion_token",
    "notion_page_id": "notion_page_id",
    "pluggy_client_id": "pluggy_client_id",
    "pluggy_client_secret": "pluggy_client_secret",
    "pluggy_account_ids": [
      "pluggy_account_id_1",
      "pluggy_account_id_2"
    ],
    "categories": {
      "Food & dining": "red",
      "Shopping": "orange",
      "Subscription": "blue",
      "Transportation": "gray"
    },
    "mappings": {
      "Uber": "Transportation",
      "Amazon": "Shopping",
      "Openai *Chatgpt Subscription": "Subscription"
    }
  },
  {
    "id": "janedoe@email.com",
    "language": "pt-BR",
    "notion_token": "notion_token",
    "notion_page_id": "notion_page_id",
    "pluggy_client_id": "pluggy_client_id",
    "pluggy_client_secret": "pluggy_client_secret",
    "pluggy_account_ids": [
      "pluggy_account_id_1",
      "pluggy_account_id_2",
      "pluggy_account_id_3"
    ],
    "categories": {
      "Alimentação": "red",
      "Assinaturas": "blue",
      "Compras": "orange",
      "Transporte": "gray",
      "Outros": "default"
    },
    "mappings": {
      "Uber": "Transporte",
      "Amazon": "Compras"
    },
    "fallback": "Outros"
  }
]
